.vs/
.vs/KoreanCVVCPlusPhonemizer/FileContentIndex/0dcf02af-0929-41d9-9c52-90295e4331e4.vsidx
.vs/KoreanCVVCPlusPhonemizer/FileContentIndex/0dcf02af-0929-41d9-9c52-90295e4331e4.vsidx
.vs/KoreanCVVCPlusPhonemizer/v17/.suo
.vs/KoreanCVVCPlusPhonemizer/FileContentIndex/0dcf02af-0929-41d9-9c52-90295e4331e4.vsidx
KoreanCVVCPlusPhonemizer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KoreanCVVCPlusPhonemizer/obj/Debug/KoreanCVVCPlusPhonemizer.csproj.AssemblyReference.cache
.vs/KoreanCVVCPlusPhonemizer/v17/.suo
.vs/KoreanCVVCPlusPhonemizer/FileContentIndex/0dcf02af-0929-41d9-9c52-90295e4331e4.vsidx
